<template>
  <Layout>
    <h2>Articles tagged with {{ $page.tag.title }}</h2><hr />
    <section class="articles section">
      <DrupalNodeArticleTeaser v-for="edge in $page.tag.belongsTo.edges" :key="edge.node.id" :article="edge" />
      <Pagination :info="$page.tag.belongsTo.pageInfo" :base="$page.tag.path" v-if="$page.tag.belongsTo.pageInfo.totalPages > 1" />
    </section>
  </Layout>
</template>

<page-query>
  query Tag($path: String!, $page: Int) {
    tag: drupalTaxonomyTermTags(path: $path) {
      title
      path
      belongsTo (perPage: 10, page: $page) @paginate {
        pageInfo {
          totalPages
          currentPage
        }
        edges {
          node {
            id
            ... on DrupalNodeArticle {
              title
              path
              date_path
              body {
                processed
              }
            }
          }
        }
      }
    }
  }
</page-query>


<script>
import Pagination from '~/components/Pagination.vue'
import DrupalNodeArticleTeaser from '~/templates/DrupalNodeArticleTeaser.vue'


  export default {
    components: {
      Pagination,
      DrupalNodeArticleTeaser
    },
    metaInfo() {
      return {
        title: this.$page.tag.title + "- BTMash"
      }
    }
  }
</script>

<style>
  h2 {
    text-align: center;
  }

  .article {
    padding-bottom: 20px;
  }

  .article:not(:first-child) {
    padding-top: 20px;
  }

  .article:not(:last-child) {
    border-bottom: solid 1px #e2e8f0;
  }
</style>
