<template>
  <Layout>
    <article class="section">
      <h2 class="title" v-html="$page.article.title"></h2>
      <h5 class="subtitle">Written <time :datetime="$page.article.date_path">{{ $page.article.date_path }}</time></h5>
      <g-image :src="$page.article.field_image.node.uri.url" v-if="$page.article.field_image != undefined" /></g-image>
      <div class="content" v-html="$page.article.body.processed" />
      <div class="tags">
        <span class="tag" v-for="tag in $page.article.field_tags"><g-link :to="tag.node.path">{{ tag.node.title }}</g-link></span>
      </div>
    </article>
  </Layout>
</template>

<page-query>
  query Article ($path: String!) {
    article: drupalNodeArticle (path: $path) {
      title,
      date,
      date_path,
      body {
        processed
      },
      content
      field_tags {
        node {
          title,
          path
        }
      }
      field_image {
        node {
          uri {
            url
          }
        }
      }
    }
  }
</page-query>

<script>
  export default {
    metaInfo() {
      return {
        title: this.$page.article.title + "- BTMash"
      }
    }
  }
</script>

<style scoped>

.title, .subtitle {
  text-align: center;
}

</style>
