<template>
  <article class="container article" :key="article.node.id">
    <h4 class="title"><g-link :to="article.node.path">{{ article.node.title }}</g-link></h4>
    <h6 class="subtitle">Written <time :datetime="article.node.date_path">{{ article.node.date_path }}</time></h6>
    <div class="summary" v-html="$options.filters.shave(article.node.body.processed)" />
  </article>
</template>

<script>
  import truncate from 'truncate-html'
  export default {
    props: ['article'],
    filters: {
      shave: function (value) {
        return truncate(value, 200)
      }
    }
  }
</script>

<style scoped>

  .title, .subtitle {
    text-align: center;
  }

  .title:hover {
    text-decoration: underline;
  }

</style>
