<template>
  <Layout>
    <h1>About Me</h1>
    <div class="bio">
      <h2>Bio</h2>
      <p>
        I am currently a Software Engineer at <a href="https://www.ottera.com">OTTera</a>. My primary duties involve working on the platform cms to ingest client videos and metadata. Outside OTTera, I dedicate some of my time in working on a freelance basis and, whenever possible, contributing back what I learn and/or create back to the open source community. Right now (and for the past 10 years), that community happens to be Drupal whereby you can find out a lot more about projects where I have contributed back at <a href="https://www.drupal.org/u/btmash">https://www.drupal.org/u/btmash</a>. Additionally, I've taken on becoming a mentor to other developers/engineers looking for help/advice in their career path. And finally, the weekends are dedicated to spending time with my kiddos.
      </p>
    </div>
    <div class="projects">
      <h2>Projects</h2>
      <p>
        <ul>
          <li><a href="http://zimmertwins.com">Zimmer Twins</a></li>
          <li><a href="http://genv.net">Youth Venture</a></li>
          <li><a href="http://calarts.edu">California Institute of the Arts</a></li>
          <li><a href="http://foodrepublic.com/">Food Republic</a></li>
          <li><a href="http://cavotes.org">League of Women Voters of California</a></li>
          <li><a href="https://www.desertessence.com/">Desert Essence</a></li>
          <li><a href="http://www.alisondeyette.com/">Alison Deyette</a></li>
          <li><a href="https://2015.drupalcampla.com">Drupal Camp LA 2015</a></li>
        </ul>
      </p>
    </div>
    <div class="open-source">
      <h2>Open Source</h2>
      <ul>
        <li><a href="https://drupal.org/u/btmash">Drupal.org Profile</a>
          <ul>
            <li><a href="https://www.drupal.org/project/fontyourface">@font-your-face</a></li>
            <li><a href="https://www.drupal.org/project/google_webfont_loader_api">Google Webfont Loader</a></li>
            <li><a href="https://www.drupal.org/project/drush_ecl">Drush Entity Cache Loader</a></li>
          </ul>
        </li>
      </ul>
      <p>
        As mentioned above, I am involved in the Drupal Project where I contribute a fair share of my time withing code in drupal modules or talking about drupal modules / sites.  I am a frequent presenter within the LA Drupal Community on topics ranging from case studies to using features to content migration and was chosen in 2014 to represent as a group organizer.  Aside from the modules mentioned above, I have also authored and contributed back to core and to numerous other contributed modules. I have a fair amount of experience in understanding the changes that have happened since Drupal 4.6 and have ported numerous modules to be compatible with new drupal core releases.
      </p>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'About me'
  }
}
</script>
