<template>
  <Layout>
    <section class="articles section">
      <DrupalNodeArticleTeaser v-for="edge in $page.articles.edges" :key="edge.node.id" :article="edge" />
    </section>
    <Pagination :info="$page.articles.pageInfo" v-if="$page.articles.pageInfo.totalPages > 1" />
  </Layout>
</template>

<page-query>
  query Articles($page: Int) {
     articles: allDrupalNodeArticle(perPage: 10, page: $page) @paginate {
       pageInfo {
         totalPages
         currentPage
       }
       edges {
         node {
           id
           title
           path
           date_path
           body {
             processed
           }
         }
       }
     }
  }
</page-query>

<script>
import Pagination from '~/components/Pagination.vue'
import DrupalNodeArticleTeaser from '~/templates/DrupalNodeArticleTeaser.vue'

export default {
  components: {
    Pagination,
    DrupalNodeArticleTeaser
  },
  metaInfo: {
    title: 'BTMash - Blob of contradictions'
  }
}
</script>

<style>
  .element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
  }

  .article {
    padding-bottom: 20px;
  }

  .article:not(:first-child) {
    padding-top: 20px;
  }

  .article:not(:last-child) {
    border-bottom: solid 1px #e2e8f0;
  }
</style>
