<template>
  <div class="drupal-association">
    <a href="http://drupal.org/user/60422" style="text-align: center; display: block;"><img src="https://www.drupal.org/files/cta/graphic/assoc_badge_ind_400.png" alt="I am a proud member of the Drupal Association."></a>
  </div>
</template>

<style>

.drupal-association img {
  max-width: 240px;
}

</style>
