<template>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <span>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>.
          </span>
          <span>
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
          </span>
        </p>
      </div>
    </footer>
</template>

<style scoped>
  .footer {
    background-color: #fff;
    padding: 1.5em;
  }
</style>
