<template>
  <section class="hero is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <g-link to="/">{{ $static.metadata.siteName }}</g-link>
        </h1>
        <h2 class="subtitle">
          {{ $static.metadata.siteDescription }}
        </h2>
      </div>
    </div>
  </section>
</template>

<static-query>
query {
  metadata {
    siteName
    siteDescription
  }
}
</static-query>

<style scoped>

.hero-body {
  border-bottom: solid 1px #e2e8f0;
}

.container {
  text-align: center;
}

</style>
