<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarMenu" class="navbar-brand">
      <g-link to="/" class="navbar-item">Home</g-link>
      <g-link to="/about/" class="navbar-item">About</g-link>
      <a target="_blank" href="http://www.linkedin.com/in/ashokmodi" class="navbar-item follow-link follow-link-linkedin follow-link-site" title="Follow BTMash on LinkedIn">LinkedIn</a>
      <a target="_blank" href="http://twitter.com/btmash" class="navbar-item follow-link follow-link-twitter follow-link-site" title="Follow BTMash on Twitter">Twitter</a>
    </div>
  </nav>
</template>
