<template>
  <nav class="pagination is-centered is-medium" role="navigation" aria-label="pagination">
    <g-link :to="previousPage(info.currentPage)" :disabled="info.currentPage == 1 ? true : false" class="pagination-previous" :rel="info.currentPage == 1 ? 'nofollow' : 'prev'">
      &larr; Previous
    </g-link>
    <g-link :to="nextPage(info.currentPage, info.totalPages)" :disabled="info.currentPage == info.totalPages ? true : false" class="pagination-next" :rel="info.currentPage == info.totalPages ? 'nofollow' : 'next'">
      Next &rarr;
    </g-link>
    <div class="pagination-list">
      Page {{ info.currentPage }} of {{ info.totalPages }}
    </div>
  </nav>
</template>

<script>
export default {
  props: ['base','info'],
  methods: {
    previousPage(currentPage) {
      return [0, 1].includes(currentPage - 1) ? `${this.basePath}/` : `${this.basePath}/${currentPage - 1}/`;
    },
    nextPage(currentPage, totalPages) {
      return totalPages > currentPage ? `${this.basePath}/${currentPage + 1}/` : `${this.basePath}/${currentPage}/`;
    }
  },
  computed: {
    basePath() {
      return this.base || ''
    }
  }
}
</script>
