<template>
  <div class="block-inner clearfix">
    <h2 class="block-title">Follow BTMash on:</h2>
    <div class="content clearfix">
      <div class="follow-links clearfix site">
        <div class="follow-link-wrapper follow-link-wrapper-twitter">
          <a href="http://twitter.com/btmash" class="follow-link follow-link-twitter follow-link-site" title="Follow BTMash on Twitter">Twitter</a>
        </div>
        <div class="follow-link-wrapper follow-link-wrapper-linkedin">
          <a href="http://www.linkedin.com/in/ashokmodi" class="follow-link follow-link-linkedin follow-link-site" title="Follow BTMash on LinkedIn">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</template>

<style>

.follow-link-wrapper {
  padding-left: 28px;
  padding-right: 3px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.follow-link-wrapper-twitter {
  background-image: url(..//assets/images/icon-twitter.png);
}

.follow-link-wrapper-linkedin {
  background-image: url(..//assets/images/icon-linkedin.png);
}

</style>
