<template>
  <div class="layout">
    <Navbar />
    <Header />
    <div class="main-container">
      <div class="content">
        <transition name="fade" appear>
          <main>
            <slot/>
          </main>
        </transition>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
  import Navbar from '~/components/Navbar.vue'
  import Header from '~/components/Header.vue'
  import Footer from '~/components/Footer.vue'
  import 'bulma/css/bulma.css'

  export default {
    components: {
      Navbar,
      Header,
      Footer,
    }
  }

</script>

<style>

body {
  font-family: 'Raleway', -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
  color: #4a5568;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: #3273dc;
  text-decoration: underline;
}

.layout {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  line-height: 1.0;
}

nav a {
  padding-right: 10px
}

nav a.active--exact {
  color: black;
  text-decoration: none;
}

.main-container {
  padding-top: 20px;
  max-width: 750px;
  margin: auto;
}

.section {
  padding-top: 0;
}


.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter {
  opacity: 0;
}

</style>
